<!-- 🔵 CONECTAR el evento logoutClick -->
<app-menu [nombreUsuario]="nombreUsuario" (loginClick)="onLoginClicked()" (logoutClick)="onLogoutClicked()">
    <!-- 🔵 ESTA ES LA CONEXIÓN -->
</app-menu>

<div *ngIf="showLogin">
    <app-login (loginExitoso)="recibirLogin($event)"></app-login>
</div>


<div *ngIf="showLista">
    <app-lista-user></app-lista-user>
</div>

<!-- Ocultar principal cuando se muestra login -->
<div *ngIf="!showLogin && !showRegister && !showLista">
    <router-outlet></router-outlet>
</div>

