/* Contenedor principal centrado */
.main-content {
    height: calc(90vh - 60px);
    background: linear-gradient(135deg, #0A2533, #0E3A56) !important;
    background-color: #0E3A56;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Sección hero */
.hero {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Estilos del título */
.hero h1 {
    font-size: 34px;
    color: #fff;
    margin: 0;
}

/* Estilos del párrafo */
.hero p {
    font-size: 18px;
    color: #f0f0f0;
    margin-top: 10px;
    width: 75%;
}

/* Estilos del botón */
.hero button {
    background-color: #f8f9fa !important;
    /* Fondo gris claro al pasar el mouse */
    color: #0056b3 !important;
    /* Texto azul más oscuro */
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 50px;
    padding: 12px 30px;
    font-size: 18px;
    margin-top: 1rem;
}